/*
 * SpaceCard.module.scss
 * author: evan kirkiles
 * created on Mon Oct 10 2022
 * 2022 the nobot space, 
 */
@import '../../styles/mixins';

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  width: 100%;
  // border: $border;
  aspect-ratio: 1/1.5;
  padding: 10px;
  transition: border 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  z-index: 0;

  &:hover .img_container {
    transform: perspective(1200px) rotateY(60deg);
  }

  // &:hover .shadow_overlay {
  //   display: block;
  // }

  &:hover .img_preview {
    display: block;
    animation: fadein 0.6s ease-in-out;
  }

  &[class~='open-right'].img_container {
    transform-origin: right;
  }

  &[class~='open-right']:hover .img_container {
    transform: perspective(1200px) rotateY(-60deg);
  }
}

.meta_info {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2;
  background-color: $background;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.title {
  z-index: 20;
}

.author {
  z-index: 20;
  opacity: 0.8;
  font-size: 13px;
  font-weight: 100;

  &::before {
    content: ' ↝ ';
  }
}

.location {
  opacity: 0.3;
  z-index: 20;
  font-size: 10px;
}

.created_at {
  position: absolute;
  top: 10px;
  right: 0;
  writing-mode: vertical-lr;
  opacity: 0.5;
  font-size: 10px;
  font-family: monospace;
}

$img_padding: 20px;
.img_container {
  position: absolute;
  top: $img_padding;
  left: $img_padding;
  width: calc(100% - ($img_padding * 2));
  height: calc(100% - ($img_padding * 2));
  z-index: 1;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.3s ease-in-out;
  overflow: visible;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translate3D(0, 0, 0);
  border: 1px solid white;
  background-color: black;
}

$img_padding_inner: 20px;
.shadow_overlay {
  position: absolute;
  top: $img_padding_inner;
  left: $img_padding_inner;
  width: calc(100% - ($img_padding_inner * 2));
  height: calc(100% - ($img_padding_inner * 2));
  z-index: 0;
  // display: none;
  box-shadow: inset 0px 0px 20px 25px rgba(0, 0, 0, 1);
  border: 1px solid #202020;
}

.img_preview {
  position: absolute;
  top: $img_padding_inner;
  left: $img_padding_inner;
  width: calc(100% - ($img_padding_inner * 2));
  height: calc(100% - ($img_padding_inner * 2));
  z-index: 0;
  display: none;
  background-color: white;
}

.door_image {
  transform-origin: right;
  /*Speed of the Door animation*/
  transition: all 0.3s ease-in-out;
  overflow: visible;
  height: 100%;
  width: 100%;
  // &:hover {
  //   transform: perspective(1200px) translateZ(0px) translateX(0px)
  //     translateY(0px) rotateY(60deg);
  // }
}

.door_handle {
  position: absolute;
  top: 55%;
  right: 0px;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $foreground;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
