@font-face {
  font-family: 'Schnyder L';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Schnyder/Schnyder L Demi.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Schnyder/Schnyder L Demi Italic.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/Schnyder/Schnyder L Light.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/Schnyder/Schnyder L Light Italic.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Schnyder/Schnyder L Bold.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Schnyder/Schnyder L Bold Italic.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'FT88';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ft88/FT88-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/ft88/FT88-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ft88/FT88-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ft88/FT88-Gothique.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ft88/FT88-Expanded.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 School';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ft88/FT88-School.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FT88 Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ft88/FT88-Serif.ttf') format('truetype');
  font-display: swap;
}
