@font-face {
  font-family: 'Schnyder L';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Schnyder/Schnyder L Demi.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Schnyder/Schnyder L Demi Italic.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/Schnyder/Schnyder L Light.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/Schnyder/Schnyder L Light Italic.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Schnyder/Schnyder L Bold.otf') format('opentype');
  // font-display: swap;
}

@font-face {
  font-family: 'Schnyder L';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Schnyder/Schnyder L Bold Italic.otf') format('opentype');
  // font-display: swap;
}
