/*
 * Submit.module.scss
 * author: evan kirkiles
 * created on Mon Oct 10 2022
 * 2022 the nobot space, 
 */
@import '../styles/mixins';

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $header-height);
  padding: 20px;
  animation: fadeup 0.3s ease-in-out;
  background-color: $background;
  background-image: radial-gradient(#c0c0c0 0.5px, $background 0.5px);
  background-size: 20px 20px;
  user-select: auto;
}
