/*
 * Logo.module.scss
 * author: evan kirkiles
 * created on Mon Oct 10 2022
 * 2022 the nobot space, 
 */
@import '../../styles/mixins';

.container {
  height: 100%;
  width: auto;

  & path {
    stroke: $foreground;
  }
}
