/*
 * Logo.module.scss
 * author: evan kirkiles
 * created on Mon Oct 10 2022
 * 2022 the nobot space, 
 */
@import '../../styles/mixins';

.container {
  height: 100%;
  width: auto;
  flex-shrink: 0;

  & path {
    stroke: $foreground;
    stroke-width: 3px;
    fill: rgba(0, 0, 0, 0.6);
  }
}
