/*
 * Space.module.scss
 * author: evan kirkiles
 * created on Tue Oct 11 2022
 * 2022 the nobot space, 
 */
@import '../../styles/mixins';

.container {
  width: 100%;
  height: 100%;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  & > canvas {
    width: 100%;
    height: 100%;
    pointer-events: all;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    touch-action: none;
    user-select: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);
    pointer-events: none;
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0px);
  }
}

.loading_container {
  grid-area: loading;
  place-self: center center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 1;
  animation: fadeup 0.5s ease-in-out;
}

.loading_bar {
  width: 200px;
  height: 20px;
  border: 1px solid $foreground;
  background-color: $background;
}

.loading_percentage {
  width: 100%;
  height: 100%;
  background-color: $foreground;
  transition: transform 0.1s ease-in-out;
  transform-origin: 0% 50%;
  transform: scaleX(0);
}

.loading_numbers {
  display: grid;
  width: 150px;
  grid-template: 'd bar t' 30px / 1fr min-content 1fr;
  font-size: 11px;
  margin-top: 5px;
  opacity: 0.6;
  gap: 5px;
  font-family: monospace;
}

.loading_numbers_downloaded {
  text-align: right;
}

.loading_numbers_total {
  text-align: left;
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
}

.view_button {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid $foreground;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transform-origin: 50% 50%;
  opacity: 0.5;
  animation: fadedown 0.5s ease-in-out;

  &:hover {
    transform: translateX(-50%) scale(1.1);
    opacity: 1;
  }
}
