/*
 * Space.module.scss
 * author: evan kirkiles
 * created on Tue Oct 11 2022
 * 2022 the nobot space, 
 */
@import '../../styles/mixins';

.container {
  width: 100%;
  height: 100%;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  & > canvas {
    width: 100%;
    height: 100%;
    pointer-events: all;
    image-rendering: pixelated;
    touch-action: none;
    user-select: none;
  }
}

.loading_container {
  grid-area: loading;
  place-self: center center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 1;
}

.loading_bar {
  width: 200px;
  height: 20px;
  border: 1px solid $foreground;
  background-color: $background;
}
