/*
 * Header.module.scss
 * author: evan kirkiles
 * created on Mon Oct 10 2022
 * 2022 the nobot space, 
 */
@import '../../styles/mixins';

.container {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: flex-start;
  user-select: auto;
  background: $background;
  transition: height 0.3s ease-in-out;
  height: $header-height;
  overflow: visible;
  background-color: $background;
  z-index: 10;
  white-space: nowrap;
  // do this to keep on top of the doors transforming.
  transform: translate3D(0, 0, 1000px);
}

.visible_bar {
  height: $header-height;
  // border-bottom: $border;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  gap: 10px;
}

.title_and_logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 10px;
  cursor: pointer;
}

.internal_link {
  cursor: pointer;

  &:hover {
    border-bottom: $border;
  }
}

.links_container {
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  @include respond-to('small') {
    display: flex;
  }

  @include respond-to('large') {
    gap: 10px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: right;
  position: relative;
  margin: 0px -10px;
  cursor: pointer;
}

.menu_text {
  display: none;
  width: 70px;
  @include respond-to('xsmall') {
    display: block;
  }
}
