/*
 * SubmitForm.module.scss
 * author: evan kirkiles
 * created on Mon Oct 10 2022
 * 2022 the nobot space, 
 */
@import '../../styles/mixins';

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 40px;
  margin: 0px;

  @include respond-to('small') {
    font-size: 60px;
  }
}

.subtext {
  display: inline-block;
  font-family: Helvetica Neue;

  & a {
    text-decoration: underline;
    transition: color 0.1s ease-in-out;
    font-family: monospace;
    &:hover {
      color: $highlight;
    }
  }
}

.upload_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid $background2;
  position: relative;
  margin-left: 10px;
  animation: faderight 0.3s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
  background-color: $background;

  &::before {
    content: 'FORM';
    position: absolute;
    writing-mode: vertical-lr;
    top: 0;
    left: -3px;
    transform: translateX(-100%) scale(-1, -1);
  }
}

.file_upload_container {
  height: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file_type {
  font-size: 20px;
}

.file_accepts {
  font-style: italic;
  opacity: 0.5;
}

.annotation {
  width: 100%;
  opacity: 0.6;
  font-size: 11px;
  border-bottom: 1px solid $background2;
  margin-top: 5px;
  margin-bottom: 5px;
  color: $foreground;

  &:first-of-type {
    margin-top: 0px;
  }
}

.input_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.input_table {
  display: table;
  width: 100%;

  & tbody {
    width: 100%;
  }

  & td:first-of-type {
    min-width: 0px;
  }
}

.input_field {
  width: 100%;
  flex: 1;
  text-align: left;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 0px;
  background-color: $background;
  color: $foreground;
  font-family: Helvetica Neue;
  outline: none;
  resize: none;
  font-size: 15px;
  flex-shrink: 0;
}

.submit_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: content;
  width: 100%;
  padding: 5px 10px;
}

.submit_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: $border;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 0.3;
  background-color: $background;
  font-family: 'Schnyder L';
  font-size: 15px;

  &:hover {
    letter-spacing: 1px;
  }

  &[class~='ready'] {
    opacity: 1;
  }
}

.required::after {
  content: ' *';
  color: $highlight;
}

.form_required_note {
  position: absolute;
  bottom: -5px;
  left: 10px;
  font-style: italic;
  font-size: 13px;
  opacity: 0.5;
  transform: translateY(100%);
}

.form_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: $foreground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  padding: 20%;
  pointer-events: all;
  z-index: 5;
  transition: opacity 0.3s ease-in-out;

  &[class~='enter'] {
    opacity: 0;
  }

  &[class~='enter-active'] {
    opacity: 1;
  }

  &[class~='exit'] {
    opacity: 1;
  }

  &[class~='exit-active'] {
    opacity: 0;
  }
}
